[Unit]
Description=GNOME -> macOS Remap
StartLimitBurst=20
StartLimitIntervalSec=30s

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart=xremap %h/.config/gnome-macos-remap/config.yml --watch=device

[Install]
WantedBy=default.target
